.btn {
  color: #fff;
  border: none;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
  font-weight: 700;
}

.success {
  background-color: green;
}
.warning {
  background-color: orange;
}
.danger {
  background-color: red;
}
.primary {
  color: black;
}
