.footerCopyrRight {
  position: relative;
  color: #fff;
  float: left;
  top: 270px;
  span {
    padding: 0px 600px;
    font-size: 14px;
  }
  .tnccontent {
    padding: 25px;
    text-align: center;
  }
}
